@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Menu Admin</h1>


<br>
<a href="/Admin/DisplayAllAccount" style="color:blue;">View Display All Account</a>
<br>
<br>
<a href="/Admin/ListEmployee" style="color:blue;">View List Employee</a>
<br>
<br>
<a href="/Admin/ListUser" style="color:blue;">View ListUser</a>

